@page
@model BattleShips.DeployModel
@{
    ViewData["Title"] = "Deploy";
}

<h1>Deploy</h1>

@{ var key = "BattleMessages";}
<partial name="_InfoTempData" model="key" />

@*<a asp-page-handler="deploy" asp-route-id="@cell.Id">&nbsp;</a>*@
<partial name="_GameBoardsMaker" model="Model.GameBoardData" />