@page
@model BattleShips.DetailsModel
@{
    ViewData["Title"] = "Game summary";
}

<h1>Podrobnosti o hře</h1>

@{ var key = "BattleMessages";}
<partial name="_InfoTempData" model="key" />

<partial name="_GameBoardsMaker" model="Model.GameBoardData" />

