@page
@model BattleShips.PlayModel
@{
    ViewData["Title"] = "Play";
}

<h1>Bitva</h1>

@{ var key = "BattleMessages";}
<partial name="_InfoTempData" model="key" />

<partial name="_GameBoardsMaker" model="Model.GameBoardData" />